* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #fed40d;
  color: rgba(0, 0, 0, 0.507);
}
.wrapper {
  width: 100%;
  margin: auto;
  padding: 1rem 0;
}
h1 {
  font-family: "Merienda", cursive;
  color: #6c63ff;
  font-size: 2rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-left: 1rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.main-wrapper {
  background: white;
  border-radius: 1rem;
  animation: content 0.5s;
}
main {
  width: 90%;
  /* min-height: 100vh; */
  margin: auto;
  padding: 2rem 0 1rem 0;
}
.gen-information {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
form input,
form button {
  border: none;
  background: #f5f5f5;
  font-size: 2rem;
  padding: 0.5rem;
}
form input {
  min-width: 50%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  outline-style: none;
}

form button {
  /* background: gray; */
  color: rgba(0, 128, 0, 0.6);
  transition: all 1s ease;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 3rem;
}
.count-btn {
  height: 3rem;
  width: 3rem;
  transition: all 1s ease;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  font-weight: bold;
  font-size: 1rem;
  color: green;
}
.products-list {
  transition: all 2s ease;
}
.product {
  display: flex;
  list-style: none;
  background: #f5f5f5;
  border-radius: 1rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  /* justify-content: space-between; */
  align-items: center;
  margin: 1rem 0;
}
/* .fall-product {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0.4;
} */
.product-text {
  width: 72%;
}

.product-price {
  width: 18%;
}
.product-price input {
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background: #f5f5f5;
  font-size: 2rem;
  outline-style: none;
}
.trash-btn {
  color: rgba(255, 0, 0, 0.6);
  width: 10%;
  border-style: none;
  background: #f5f5f5;
  font-size: 1.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.1);
}
.add-product-input.warning::placeholder {
  color: red;
}

#woman {
  animation: slide 2s ease;
}

@keyframes slide {
  0% {
    transform: translateX(-30%);
  }
  25% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}

.line {
  font-size: 100%;
  overflow: hidden;
}
.anim-typewriter {
  animation: typewriter 1s;
}

@keyframes typewriter {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes content {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}
